.main-question {
    width: 400px;
    text-align: left;
}

.question {
    padding-bottom: 10px;
}

@media (max-width: 420px) {
    .main-question {
        width: 250px !important;
    }
}

@media (max-width: 300px) {
    .main-question {
        width: 180px !important;
        font-size: 16px;
    }
}