.end-page-container {
    height: auto;
    min-height: 100px;
    padding: 85px 45px;
    background: rgb(0, 0, 0, 0.7);
}

.end-page {
    display: flex;
    flex-direction: column;
    font-size: 90px;
}

.fail {
    color: red;
}

.win {
    color: rgb(58, 168, 50);
}